@model IEnumerable<StuMS.Models.Dto.StudentDto>
<br />
<div class="container p-4 border">
    <div class="row pb-2">
        <div class="col">
            <h1 class="text-primary">Student List</h1>
        </div>
        <div class="col text-end pt-1">
            <a asp-controller="Student" asp-action="CreateStudent" class="btn btn-outline-primary"><i class="bi bi-plus-square-fill"></i> Create New Student</a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>
                    Name
                </th>
                <th>
                    Date of Birth
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    <td>@item.dateOfBirth</td>

                </tr>
            }
        </tbody>
    </table>

</div>